@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
}

.QR-code {
    text-align: center;
    width: 32rem;
    padding: 1.6rem;
    border-radius: 2rem;
    box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.05);
    background-color: hsl(0, 0%, 100%);
}

.QR-code__img {
    display: block;
    width: 100%;
    border-radius: 1rem;
}


.QR-code__title {
    font-size: 2.2rem;
    font-weight: 700;
    margin: 2.4rem 0 0 0;
    color: hsl(218, 44%, 22%);
}

.QR-code__text {
    font-size: 1.5rem;
    line-height: 1.9rem;
    margin: 1.6rem 0 2.4rem 0;
    padding: 0 1.6rem 0 1.6rem;
    color: hsl(220, 15%, 55%);
}